.home-header-container {
  height: 60px;
  width: 100%;
  padding: 0 40px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    .left-content {
      width: 25%;
      display: flex;
      align-items: center;
      .logo {
        background: url("../../../public/logo.png") center center no-repeat;
        height: 60%;
        width: 60%;
        cursor: pointer;
        background-size: contain;
      }
    }
    .center-content {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .children-content {
        .sub-title {
          font-weight: 400;
          font-size: 10px;
        }
      }
    }
  }
}
.banner {
  background-image: url("../../../public/bookingcare-cover-4.jpg");
  width: 100%;
  opacity: 0.96;
  height: 546px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  .content-up {
    padding-top: 50px;
    height: 50%;
    .title1 {
      text-align: center;
      font-size: 30px;
      text-shadow: 2px 2px 2px #333;
      margin-bottom: 5px;
      color: white;
      font-weight: 400;
    }
    .title2 {
      text-align: center;
      font-size: 32px;
      text-shadow: 2px 2px 2px #333;
      color: white;
      font-weight: 600;
    }
    .textbox {
      display: flex;
      border-radius: 30px;
      justify-content: center;
      padding: 10px;
      margin: 0 auto;
      background-color: #f7d800;
      width: 400px;
      margin-top: 20px;
      .search {
        background: transparent;
        outline: none;
        border: none;
        width: 100%;
        margin-left: 5px;
      }
      .icon {
        padding: 5px;
      }
    }
  }
  .content-down {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 1)
    );
    .options {
      display: flex;
      text-align: center;
      justify-content: center;
      .child {
        width: 100%;
        display: flex;
        gap: 70px;
        .icon-child {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          text-align: center;
          overflow: hidden;
          display: flex;
          align-items: center;
          background-color: white;
          position: relative;
          img {
            width: 80%;
            height: 80%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .text-child {
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
}
