.description-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    height: 200px;
}
.des {
    font-size: 14px;
}
svg{
    height: 18px;
}
.map {
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: #eee;
    height: 400px;
}
ul {
    list-style-type: none;
}
